body {
    background: linear-gradient(#b97db9, #d8aed6, #f0c9ee);
    line-height: 150%;
    text-align: center;
}

header {
    background-color: pink;
}

.titulo {
    color: white;
    text-align: center;
    margin-top: 4%;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.titulo p{
    font-size: medium;
    color: #863e5a;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.introduccion {
    text-align: center;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.instrucciones {
    background-color: #d8aed6;
    text-align: center;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botonesDeNiveles button{
    background-color: white;
    padding: 5px 20px;
    border-radius: 10%;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
}

.botonesDeNiveles button:hover{
    background-color: pink;
}

.contenidoDelJuego {
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid #000;
    margin-top: 3%;
    padding: 3%;
}

.respuesta input{
    background-color: white;
    margin-left: 25%;
    margin-right: 25%;
    border: 2px solid #000;
    margin-top: 3%;
    text-align: center;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    padding: 1%;
}

.verificar  button{
    background-color: rgb(255, 255, 255);
    padding: 5px 20px;
    border-radius: 5%;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
    margin-top: 3%;
}

.verificar button:hover{
    background-color: #863e5a;
    color: white;
}

.puntaje {
    background-color: rgb(250, 111, 134);
    margin-left: 35%;
    margin-right: 35%;
    border: 2px solid #000;
    margin-top: 3%;
}

.botonPie button{
    background-color: white;
    padding: 5px 20px;
    border-radius: 5%;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
    margin-top: 3%;
}

.botonPie button:hover{
    color: white;
    background-color: green;
}

.oculto {
    display: none;
}